.chart__self {
}

#position {
  position: absolute;
  right: 4px;
}

*:focus {
  outline: none;
}

.chart__container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.chart__text {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chart__edge.inactive {
  pointer-events: none;
}

.chart__connection-path {
  fill: none;
}

.chart__connection-line-path {
  fill: none;
}

.chart__connection-text {
  pointer-events: none;
  user-select: none;
}

.chart__connection {
  pointer-events: visibleStroke;
}

@keyframes dashdraw {
  from {
    stroke-dashoffset: 10;
  }
}

.chart__connection.animated {
  stroke-dasharray: 5;
  animation: dashdraw 0.5s linear infinite;
}

.chart__connection-path {
  fill: none;
}

.chart__node {
  position: absolute;
  user-select: none;
  pointer-events: all;
  transform-origin: 0 0;
  box-sizing: border-box;
}

.chart__footer {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.chart__arrowhead {
}

.chart__minimap {
  position: absolute;
  z-index: 5;
  bottom: 10px;
  right: 10px;
}

.connector__hidden {
  visibility: hidden;
}

.node__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node__contextmenu {
  overflow: visible;
}

.node:hover > .connector__hidden {
  visibility: visible;
}

.node:focus {
  outline: none;
}

.node__resize__nwse {
  cursor: nwse-resize;
}

.node__resize__nesw {
  cursor: nesw-resize;
}

.connection:focus {
  outline: none;
}

.connection__contextmenu {
  overflow: visible;
}
